@import "tailwindcss";

:root {
  --bg: #0d1117;
  --bg2: #161b22;
  --bg3: #21262d;
  --text: #e6edf3;
  --text2: #8b949e;
  --accent: #58a6ff;
  --green: #3fb950;
  --red: #f85149;
  --yellow: #d29922;
  --purple: #bc8cff;
  --border: #30363d;
}

.light {
  --bg: #f6f8fa;
  --bg2: #ffffff;
  --bg3: #eaeef2;
  --text: #1f2328;
  --text2: #656d76;
  --accent: #0969da;
  --green: #1a7f37;
  --red: #cf222e;
  --yellow: #9a6700;
  --purple: #8250df;
  --border: #d0d7de;
}
